.main-header {
  position: relative;
  height: 105px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 839px) {
  .main-header {
    justify-content: flex-start;
  }
}

.main-header a {
  text-decoration: none;
}

.header-bar {
  display: flex;
  padding: 22px 0 8px;
  height: 105px;
  z-index: 9999;
  background: #fff;
}

@media screen and (max-width: 839px) {
  .header-bar {
    width: 100%;
  }
}

.menu {
  cursor: pointer;
  margin: -16px 16px 0;
  background: transparent;
  border: 0;
  outline: 0;
}

@media screen and (min-width: 840px) {
  .menu {
    display: none;
  }
}

.menu .line {
  margin: 4px 0;
  background: rgba(0, 0, 0, 0.64);
  height: 2px;
  width: 24px;
  border-radius: 2px;
  transform: none;
  opacity: 1;
  transition: all 0.24s ease-in-out;
}

.menu .line1-container,
.menu .line3-container {
  transition: all 0.24s ease-in-out;
  transition-delay: 0.24s;
}

.menu .line1-container,
.menu .line3-container {
  transform-origin: center;
}

.menu.is-open .line1 {
  transform: translateY(4px);
}

.menu.is-open .line1-container {
  transform: rotate(45deg) scaleX(0.8) translateY(4px);
}

.menu.is-open .line2 {
  transform: scale(0.1);
  visibility: hidden;
  opacity: 0;
}

.menu.is-open .line3 {
  transform: translateY(-4px);
}

.menu.is-open .line3-container {
  transform: rotate(-45deg) scaleX(0.8) translateY(-5px);
}

.menu.is-close .line2 {
  transition-delay: 0.24s;
}

.menu.is-close .line1-container,
.menu.is-close .line3-container {
  transition-delay: 0s;
}

.header-menu-button {
  cursor: pointer;
  margin: 5px 10px 0;
  background: transparent;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
}

.header-menu-button.is-active {
  color: #003d7b;
}

.main-title {
  display: inline-block;
  line-height: 100%;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: -1px;
  width: 100%;
  display: block;
  margin: 10px 6px;
  color: rgba(51, 51, 51, 0.9);
}

@media screen and (min-width: 840px) {
  .main-title {
    margin-left: 14px;
  }

  .horizontal-nav {
    white-space: nowrap;
    display: flex;
    margin-left: 20px;
    height: 105px;
    padding: 42px 0 8px;
    margin-right: 98px;
  }

  .horizontal-nav .nav-item {
    color: rgba(51, 51, 51, 0.9);
    display: block;
    font-weight: 500;
    margin: 0 14px;
    font-size: 14px;
  }

  .horizontal-nav .nav-item.active {
    color: #003d7b;
  }
}

@media screen and (max-width: 839px) {
  .horizontal-nav {
    position: absolute;
    width: 100%;
    top: 105px;
    background: #fff;
    border-top: 1px solid #f1f1f1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.24s ease-in-out;
    z-index: 999;
  }

  .horizontal-nav .nav-item {
    color: rgba(51, 51, 51, 0.9);
    display: block;
    font-weight: 500;
    padding: 20px 12px;
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
  }

  .horizontal-nav .nav-item.active {
    color: #003d7b;
  }

  .horizontal-nav.is-visible {
    transform: none;
    visibility: visible;
  }
}

*,
:after,
:before {
  margin: 0;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #000;
  background: rgb(252 252 252);
}

h1 {
  font-size: 24px;
  margin: 22px 0 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.9);
}

h2 {
  font-size: 18px;
  margin: 28px 0 10px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: none;
}

table {
  border-spacing: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hidden,
.hide {
  display: none;
}

#post-list li,
.post h1,
.post-body ul,
h3,
h4,
h5,
p,
pre {
  margin-bottom: 20px;
}

#post-list a:hover,
#post-list li:hover .dates,
#title,
#title:hover {
  text-decoration: none;
  color: #3367d6;
}

a,
p a {
  color: #3367d6;
}

p {
  line-height: 1.68;
}

#post-list a,
#post-nav a {
  transition: all 0.15s ease-in-out;
}

li {
  line-height: 1.5;
  list-style: none;
}

li:before {
  content: "·";
  font-size: 45px;
  vertical-align: middle;
  line-height: 20px;
  padding-right: 8px;
}

b,
strong {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.84);
}

em,
i {
  font-style: italic;
}

h3,
h4,
h5 {
  color: #333;
}

h3,
h4 {
  font-size: 20px;
}

h3,
h4,
h5 {
  font-weight: 500;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
  font-weight: 500;
  color: #666;
  margin-bottom: 6px;
}

p.small {
  color: #bbb;
  font-size: 14px;
  line-height: 1.5;
  display: block;
}

blockquote {
  padding-left: 15px;
  border-left: 3px solid #eee;
}

hr {
  display: block;
  border: none;
  height: 3px;
  margin: 40px auto;
  background: #f4f4f4;
}

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 1.5em;
}

td,
th {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}

table td,
td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0;
}

tr > td {
  border-top: 1px solid #eaeaea;
}

tr:nth-child(odd) > td {
  background: #fcfcfc;
}

th,
thead th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 13px;
  font-weight: 500;
  color: #444;
  border-bottom: 1px solid #dadadc;
  cursor: default;
  white-space: nowrap;
}

code,
img,
pre {
  border-radius: 3px;
}

code,
pre {
  font-family: Monaco, monospace;
  font-size: 12px;
  background-color: #f1f1f1;
  display: block;
  padding: 12px;
  overflow-x: auto;
  line-height: 20px;
}

footer {
  color: #aaa;
  margin-top: 250px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.base-icon {
  fill: #6c6b6b;
}

.base-icon path {
  vertical-align: middle;
}

img {
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}

img[data-src] {
  opacity: 0;
}

.paper-card {
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.14);
}

input[type="text"],
textarea {
  font-size: 14px;
  outline: 0;
  border: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="datetime"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea {
    font-size: 16px;
  }
}

.body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-content.full-width {
  max-width: none;
}

.container {
  max-width: 576px;
  width: 100%;
}

.main-container,
.main-content {
  height: 100vh;
}

.main-container.is-dark {
  background: #141414;
}

.home-container {
  font-size: 16px;
  max-width: 576px;
  margin: 32px auto 0;
  padding: 0 16px 48px;
}

.home-container h2 {
  margin: 28px 0 20px;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: -0.018em;
}

.home-container ul {
  padding-left: 12px;
}

.home-container ul li {
  line-height: 1.8;
}

.home-container p {
  font-size: 15px;
}

.item {
  margin: 10px 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  background: #fff;
}

.item a {
  text-decoration: none;
}

.item:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.item-body {
  padding: 25px 25px 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  cursor: pointer;
  position: relative;
  display: block;
}

.item-star-count {
  font-size: 14px;
  position: absolute;
  right: 12px;
  top: 12px;
  display: flex;
  align-items: center;
  color: rgba(51, 51, 51, 0.6);
}

.star-icon {
  font-size: 18px;
  width: 20px;
  margin-left: 4px;
}

.item-name {
  color: rgba(51, 51, 51, 0.8);
  font-size: 17px;
  font-weight: 500;
  display: inline-block;
}

.item-name:hover {
  text-decoration: underline;
}

.item-description {
  color: rgba(51, 51, 51, 0.6);
  font-size: 14px;
  line-height: 48px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 8px 16px 0;
}

.item-action-button {
  color: rgba(51, 51, 51, 0.5);
  font-weight: 500;
  font-size: 14px;
  margin: 0 10px;
}

.item-action-button:hover {
  color: rgba(51, 51, 51, 0.8);
}

@media screen and (min-width: 480px) {
  .item {
    max-width: 576px;
    margin: 20px 6px;
  }
}

.project-container {
  padding-bottom: 50px;
  padding-top: 0;
}

.title {
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: -0.018em;
  margin: 28px 0 20px 8px;
}

.view-all-link {
  color: rgba(51, 51, 51, 0.6);
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  margin-right: 12px;
}

.view-all-link:hover {
  color: rgba(51, 51, 51, 0.8);
}

.view-all-icon {
  font-size: 24px;
  margin: -1px 0 0 5px;
}

.photography-container {
  margin: 0 auto;
  padding-bottom: 20px;
  background: #141414;
  color: #fff;
  max-width: none;
  width: 100%;
}

.photography-title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  margin: 0 auto;
  width: 100%;
  padding: 18px 8px;
}

.category-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 12px 8px;
}

.category-link {
  color: hsla(0, 0%, 100%, 0.4);
  margin: 8px 12px 8px 0;
  cursor: pointer;
}

.category-link.is-selected,
.category-link:hover {
  color: #fff;
}

.gallery-list {
  position: relative;
  padding-bottom: 400px;
}

.gallery {
  display: flex;
  flex-direction: column;
  margin: 0 auto 22px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.gallery.is-visible {
  display: block;
  opacity: 1;
}

.gallery.display-none {
  display: none;
}

.photo-container {
  padding: 0 8px 4px;
  width: 100%;
}

.photo {
  width: 100%;
  border-radius: 2px;
}

@media screen and (min-width: 480px) {
  .content-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
}

.contact-container {
  height: 100%;
  width: 100%;
  font-size: 15px;
  color: rgba(51, 51, 51, 0.84);
  padding: 18px 0;
}

.contact-container .content {
  padding: 0 12px;
  max-width: 576px;
  margin: 12px auto 0;
}

.contact-container .contact-card {
  max-width: 576px;
  margin: 35px auto 0;
}

.contact-container .contact-card a {
  text-decoration: none;
}

.contact-container .profile-container {
  text-align: center;
  line-height: 22px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  padding-bottom: 12px;
  margin-top: -25px;
}

.contact-container .profile-container .avatar {
  background: url(https://firebasestorage.googleapis.com/v0/b/abhiomkar-in.appspot.com/o/home%2Fabhiomkar.jpg?alt=media&token=3511c6bd-b724-416b-a506-e2a7c66c340a)
    no-repeat 50%;
  background-size: 60px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.contact-container .profile-container .name {
  margin-top: 6px;
  font-size: 16px;
}

.contact-container .profile-container .email a,
.contact-container .profile-container .location,
.contact-container .profile-container .social-links a {
  color: rgba(51, 51, 51, 0.6);
  font-size: 13px;
}

.contact-container .social-links {
  padding-top: 6px;
}

.contact-container .social-link {
  background-size: 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: 0 8px;
}

.contact-container .facebook-logo .cls-1 {
  fill: rgba(51, 51, 51, 0.54);
}

.contact-container .facebook-logo .cls-2 {
  fill: transparent;
}

.contact-container .twitter-logo {
  fill: rgba(51, 51, 51, 0.54);
}

.contact-container .form-row-subject {
  margin: 0 14px;
  padding: 14px 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  display: flex;
  align-items: center;
}

.contact-container .form-row-subject label {
  width: 65px;
}

.contact-container .form-row-subject input {
  margin-left: 6px;
  flex-grow: 1;
}

.contact-container .form-row-from {
  padding: 14px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  display: flex;
  align-items: center;
}

.contact-container .form-row-from label {
  width: 65px;
}

.contact-container .form-row-from input {
  margin-left: 6px;
  flex-grow: 1;
}

.contact-container .form-body-row {
  position: relative;
  padding-top: 14px;
}

.contact-container .form-body-row label {
  margin: 14px;
}

.contact-container .contact-form {
  overflow: hidden;
  position: relative;
}

.contact-container .contact-form-body {
  padding: 14px;
  height: 220px;
  width: 100%;
  resize: none;
}

.contact-container .form-submit-button {
  position: absolute;
  bottom: 8px;
  right: 8px;
  min-width: 100px;
  font-family: system-ui;
  font-weight: 700;
  font-size: 13px;
  background-color: #000;
  color: #fff;
  border-radius: 999px;
  border: none;
  height: 36px;
  cursor: pointer;
}

.contact-container .send-icon {
  font-size: 18px;
  margin-right: 6px;
}

.contact-container .status-bar {
  visibility: hidden;
  transition: all 0.24s ease-out;
  transform: translateY(100%);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  background: #323232;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 16px 22px;
  border-radius: 3px 3px 0 0;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
}

.contact-container .status-bar.is-visible {
  visibility: visible;
  transform: none;
}

.contact-container .status-bar.has-error {
  background: #c53929;
}

.contact-container .slide-container {
  height: 78px;
}

.contact-container .about-section {
  transition: all 0.5s ease-out;
  visibility: hidden;
  transform: translate(28px);
  opacity: 0;
}

.contact-container .about-section.is-visible {
  visibility: visible;
  opacity: 1;
  transform: none;
}

.contact-container .thank-you {
  transition: all 0.5s ease-out;
  visibility: hidden;
  opacity: 0;
  max-width: 320px;
  color: rgba(51, 51, 51, 0.84);
  font-size: 14px;
  margin: 20px auto 0;
  font-weight: 500;
  text-align: center;
}

.contact-container .thank-you.is-visible {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 480px) {
  .contact-container .status-bar {
    max-width: 312px;
  }
}
