body,
html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.markdown-content h2 {
  @apply text-xl tracking-tight mt-8 mb-4 font-bold;
}

.homepage-content .markdown-content p {
  @apply text-base leading-6;
}
