body,
html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  @apply underline decoration-1 decoration-neutral-300 dark:decoration-neutral-500 underline-offset-4 transition-colors duration-500 hover:decoration-neutral-800 dark:hover:decoration-neutral-300;
}

img[alt="home_cover"] {
  @apply aspect-[3/2] rounded-sm;
}

/** Markdown. */

/** Markdown: List */
.markdown-content ul {
  @apply list-disc mt-4 mb-4;
}

.markdown-content li {
  @apply leading-6 ml-4 mb-2;
}

/* Markdown: Body */

.markdown-content p {
  @apply leading-6 mb-6;
}

/** Markdown: Headers */

.markdown-content h1 {
  @apply text-2xl tracking-tight mt-6 mb-4 font-bold;
}

.markdown-content h2 {
  @apply text-xl tracking-tight mt-4 mb-2 font-bold;
}
