---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>About</h1>

    <a href="/">Home</a> |
    <a href="/about/">About</a> |
    <a href="/blog/">Blog</a>

    <section class="container">
      <div class="home-container">
        <p>
          My name is <strong>Abhinay Omkar</strong>. I'm an Indian he/him living
          in Bangalore, India (Previously worked at New York City and Chennai).
          I was born in Telangana, India and studied Computer Science of
          Engineering at <em>Koneru Lakshmaiah College of Engineering</em> near
          Vijayawada, India.
        </p>
        <h2>Work</h2>
        <p>
          I'm currently working at Google as UX Engineer. Previously at Akamai
          Technologies &amp; HCL Technologies. More details at
          <a href="https://www.linkedin.com/in/abhiomkar">Linkedin</a>.
        </p>
        <h2>Code</h2>
        <p>
          I believe writing good code is as important as a good design. I've
          expertise in front-end engineering. See my work and open source
          contribution at
          <a href="https://github.com/abhiomkar">Github</a>.
        </p>
        <p>See <a href="/projects">/projects</a> for my little hacks.</p>
        <h2>Photography</h2>
        <p>
          I'm a self-taught photographer specialized in Creative Candid Moments,
          Weddings, Portraits, Travel &amp; Nature. I started my own venture as
          a part-time freelancer in creative candid wedding photography while
          ago. I shot weddings of various traditions all over india including
          simple and big fat weddings.
        </p>
        <p>See photo gallery at <a href="/photography">/photography</a>.</p>
        <p>
          I love to travel and explore new places, I take photos to make world
          look beautiful. I design &amp; code to make the world a better place.
          :)
        </p>
      </div>
    </section>
  </body>
</html>
