---

---

<div class="main-header header-container">
  <div class="header-bar">
    <button class="menu is-close">
      <div class="line1-container">
        <div class="line line1"></div>
      </div>
      <div class="line2-container">
        <div class="line line2"></div>
      </div>
      <div class="line3-container">
        <div class="line line3"></div>
      </div>
    </button>
    <div>
      <a href="/">
        <h1 class="main-title">Ao.</h1>
      </a>
    </div>
  </div>
  <div class="horizontal-nav">
    <a href="/" class={`nav-item ${Astro.url.pathname === "/" ? "active" : ""}`}
      >Home</a
    >
    <a
      href="/projects"
      class={`nav-item ${Astro.url.pathname === "/projects" ? "active" : ""}`}
      >Projects</a
    >
    <a
      href="https://abhiomkar.medium.com"
      class={`nav-item ${Astro.url.pathname === "/blog" ? "active" : ""}`}
      >Blog</a
    >
    <a
      href="/photography"
      class={`nav-item ${
        Astro.url.pathname === "/photography" ? "active" : ""
      }`}>Photography</a
    >
    <a
      href="/contact"
      class={`nav-item ${Astro.url.pathname === "/contact" ? "active" : ""}`}
      >Contact</a
    >
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const menuButton = document.querySelector(".header-container .menu");
    if (!menuButton) {
      throw new Error("Expected menu button on the page.");
    }

    const horizontalNav = document.querySelector(
      ".header-container .horizontal-nav"
    );
    if (!horizontalNav) {
      throw new Error("Expected horizontal navigation on the page.");
    }
    menuButton.addEventListener("click", () => {
      menuButton.classList.toggle("is-open");
      menuButton.classList.toggle("is-close");
      horizontalNav.classList.toggle("is-visible");
    });
  });
</script>
