---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.pageTitle} - Abhinay Omkar</title>
  </head>
  <body class="text-black">
    <div class="mx-auto max-w-screen-sm px-4">
      <div class="flex items-center justify-between flex-wrap pt-6">
        <div class="pt-2 pr-6">
          <a href="/" class="inline-flex">
            <h1 class="p-0 m-0 text-xl font-semibold">Abhinay Omkar</h1>
          </a>
        </div>
        <div class="pt-2">
          <nav>
            <ul class="list-none flex gap-6">
              <li>
                <a
                  href="https://abhiomkar.medium.com"
                  class={`inline-flex text-base text-black font-medium ${
                    Astro.url.pathname === "/blog" ? "active" : ""
                  }`}>Blog</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div>
        <slot />
      </div>
    </div>
  </body>
</html>
