---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.pageTitle} - Abhinay Omkar</title>
  </head>
  <body>
    <div class="main-container">
      <div class="main-header header-container">
        <div class="header-bar">
          <div>
            <a href="/">
              <h1 class="main-title">Abhinay Omkar</h1>
            </a>
          </div>
        </div>
      </div>
      <div class={`body-content ${Astro.props.fullWidth ? "full-width" : ""}`}>
        <slot />
      </div>
    </div>
  </body>
</html>
