---
import "../styles/global.css";

const title =
  Astro.props?.frontmatter?.title || Astro.props?.title || "Abhinay Omkar";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-black dark:text-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm px-4 py-8">
      <a href="/" class="inline-flex">
        <h1
          class="p-0 m-0 text-lg font-medium text-gray-600 dark:text-gray-200 tracking-tight"
        >
          Abhinay Omkar
        </h1>
      </a>
      <div class="pl-2 text-gray-400 inline-flex tracking-tight">
        / abhiomkar@
      </div>
      <nav>
        <ul class="list-none flex gap-4 mt-1">
          <li>
            <a
              href="https://abhiomkar.medium.com"
              class="inline-flex text-sm hover:underline font-medium">Blog</a
            >
          </li>
          <li>
            <a
              href="/projects"
              class="inline-flex text-sm hover:underline font-medium"
              >Projects</a
            >
          </li>
        </ul>
      </nav>

      <div>
        <slot />
      </div>
    </div>
  </body>
</html>
