---
import BaseLayout from "./BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <section class="homepage-content pt-8">
    <div>
      <div class="markdown-content">
        <slot />
      </div>

      <div class="hidden">
        <h3 class="font-bold text-xl mt-4">Blog</h3>
        {
          allPosts.map((post) => (
            <li>
              <a href={post.url}>{post.frontmatter.title}</a>
            </li>
          ))
        }
        <a href="/blog">See all posts →</a>
      </div>
    </div>
  </section>
</BaseLayout>
