---
import BaseLayout from "./BaseLayout.astro";
const allPosts = await Astro.glob("../pages/blog/*.md");
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <section class="pt-4">
    <div>
      <div class="markdown-content mt-4">
        <slot />
      </div>

      <div>
        <h2
          class="font-bold text-xl mt-4text-2xl tracking-tight mt-6 mb-4 font-bold"
        >
          Blog
        </h2>
        <ul>
          {
            allPosts.map((post) => (
              <li class="py-2 flex justify-between">
                <a class="text-base" href={post.url}>
                  {post.frontmatter.title}
                </a>
                <div class="">
                  {post.frontmatter?.pubDate
                    ? new Date(post.frontmatter.pubDate)?.toLocaleDateString(
                        "en-US",
                        { year: "numeric", month: "long", day: "numeric" }
                      )
                    : ""}
                </div>
              </li>
            ))
          }
        </ul>
        <a class="inline-flex mt-4" href="/blog">See all posts →</a>
      </div>
    </div>
  </section>
</BaseLayout>
